/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Domine:wght@600;700&family=Open+Sans:ital,wght@0,400;0,600;0,700;1,500&family=Roboto:wght@400;500;700&display=swap");

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Domine", Georgia, serif !important;
}

:root {
  line-height: 1.5;

  --color-primary: #0a1936;
  --color-secondary: #0f6f79;
  --color-red: #fa2e23;
}

#test-stepper > div > .mat-step-header + div::before {
  background-color: white !important;
}

#test-stepper > div > .mat-step-header {
  pointer-events: none !important;
}
